# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Chrome Driver logs
chromedriver.log

# OS files
.DS_Store

Thumbs.db
# Local data and logs
SearchLog/
*.csv
